LAB_PUBLIC_HOST=your-public-host-or-ip

LAB_MYSQL_USERNAME=root
LAB_MYSQL_PASSWORD=change-me

LAB_REDIS_PASSWORD=change-me

LAB_MARIADB_USERNAME=root
LAB_MARIADB_PASSWORD=change-me

LAB_ES_PASSWORD=change-me

LAB_MONGO_USERNAME=dong
LAB_MONGO_PASSWORD=change-me
